/* PRINCIPALE */

*{
    font-family: 'Sedgwick Ave', cursive;

    color: var(--second-color);
}


main{
    background: url(./media/cover.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom  ;
}

/* COLORS */

:root{
    --main-color : #202020;
    --second-color: #ffd100;
    --third-color : #333533 ;
    --fourth-color:  #ed8b00;
    --main-gradient: linear-gradient(45deg ,#333533c0 , #202020c0 ); 
 
    

}

/* CARD CENTRALE */
.bg-main{
    background: var(--main-gradient);
    height: 500px;
    backdrop-filter: blur(2px);
    padding: 50px;
    border-radius: 50px;
    box-shadow: 4px 4px 6px 0 #202020c0, -4px -4px 6px 0 #333533c0 , inset -4px -4px 6px 0 #202020c0, -4px -4px 6px 0 #333533c0;
      
    
}

  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  .btn-menu {
      width: 70px;
      height: 70px;
      cursor: pointer;
      background: var(--third-color);
      margin: 10px;
      border: none;
      border-radius: 50%;
      box-shadow: -5px -5px 15px var(--third-color), 5px 5px 15px var(--main-color), inset 5px 5px 10px var(--third-color), inset -5px -5px 10px var(--main-color);
      color: var(--main-color);
   
  }
  
  .btn-menu:hover {
      box-shadow: -5px -5px 15px var(--third-color), 5px 5px 15px var(--main-color), inset 5px 5px 10px var(--main-color), inset -5px -5px 10px var(--third-color);
      font-size: 15px;
      transition: 500ms;
  }

  .btn-menu.active{
    color: var(--second-color);
	text-shadow: 0px 0px 10px var(--second-color);
    box-shadow: -5px -5px 15px var(--third-color), 5px 5px 15px var(--main-color), inset 5px 5px 10px var(--main-color), inset -5px -5px 10px var(--third-color);
    border: solid 1px var(--fourth-color);
   
      
}
  

  
  .second-color-shadow:hover {
	color: var(--second-color);
	text-shadow: 0px 0px 10px var(--second-color);
}





/* BOTTONI LISTA */
.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  .btn-list {
      width: 50px;
      height: 50px;
      cursor: pointer;
      background: var(--third-color);
      margin: 10px;
      border: none;
      border-radius: 50%;
      box-shadow: -5px -5px 15px var(--third-color), 5px 5px 15px var(--main-color), inset 5px 5px 10px var(--third-color), inset -5px -5px 10px var(--main-color);
      color: var(--main-color);
   
  }
  
  .btn-list:hover {
      box-shadow: -5px -5px 15px var(--third-color), 5px 5px 15px var(--main-color), inset 5px 5px 10px var(--main-color), inset -5px -5px 10px var(--third-color);
      font-size: 15px;
      transition: 500ms;
  }

  .btn-list.active{
    color: var(--second-color);
	text-shadow: 0px 0px 5px var(--second-color);
    box-shadow: -5px -5px 15px var(--third-color), 5px 5px 15px var(--main-color), inset 5px 5px 3px var(--main-color), inset -5px -5px 10px var(--third-color);
    border: solid 1px  var(--fourth-color);
   
      
}
  

  
  .second-color-shadow:hover {
	color: var(--second-color);
	text-shadow: 0px 0px 3px var(--second-color);
}

.bordino{
    border-bottom: solid 2px ;
}

/* LISTA : ALTRO */


.scroll-y{
    overflow-y: scroll;
}



/* SCROLLBAR */


::-webkit-scrollbar {
    width: 7px;
    
  }
  
  
  ::-webkit-scrollbar-track {
    background: var(--main-gradient);
    border-radius: 5px;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: var(--fourth-color) ;
    border-radius: 5px;
    
  }
  
/* PLAYER */

.album-cover{
    border-radius: 100%;
   

}

.album-cover.play{
    animation-name: rotate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

  
  .btn-player {
      width: 30px;
      height: 30px;
      cursor: pointer;
      background: var(--third-color);
      margin: 10px;
      border: solid 1px var(--third-color);
      border-radius: 50%;
      box-shadow: -5px -5px 15px var(--third-color), 5px 5px 15px var(--main-color), inset 5px 5px 10px var(--third-color), inset -5px -5px 10px var(--main-color);
      color: var(--main-color);
   
  }
  
  .btn-player:hover {
      box-shadow: -5px -5px 15px var(--third-color), 5px 5px 15px var(--main-color), inset 5px 5px 10px var(--main-color), inset -5px -5px 10px var(--third-color);
      font-size: 15px;
      transition: 500ms;
  }

  .btn-player.active{
    color: var(--second-color);
	text-shadow: 0px 0px 5px var(--second-color);
    box-shadow: -5px -5px 15px var(--third-color), 5px 5px 15px var(--main-color), inset 5px 5px 3px var(--main-color), inset -5px -5px 10px var(--third-color);
    border: solid 1px  var(--fourth-color);
   
      
}
  

  
  .second-color-shadow:hover {
	color: var(--second-color);
	text-shadow: 0px 0px 3px var(--second-color);
}
  .btn-play {
      width: 50px;
      height: 50px;
      cursor: pointer;
      font-size: 20px;
      background: var(--third-color);
      margin: 10px;
      border: solid 1px var(--third-color);
      border-radius: 50%;
      box-shadow: -5px -5px 15px var(--third-color), 5px 5px 15px var(--main-color), inset 5px 5px 10px var(--third-color), inset -5px -5px 10px var(--main-color);
      color: var(--main-color);
      margin-left: 25px;
   
  }
  
  .btn-play:hover {
      box-shadow: -5px -5px 15px var(--third-color), 5px 5px 15px var(--main-color), inset 5px 5px 10px var(--main-color), inset -5px -5px 10px var(--third-color);
      font-size: 19px;
      transition: 500ms;
  }

  




/* PROGRESS BAR */

.progress-player {
    display: flex;
    height: 10px;
    overflow: hidden;
    font-size: 1px;
    background-color: var(--third-color);
    border-radius: 25px;
   
}

.progress-player .progress-bar{
    background-color: var(--fourth-color);
    border-radius: 30px;
}
@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}
.icon1{

}
.icon2{
    
}